@charset "UTF-8";
@import '../nav.css';
@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");
.option-show {
  margin-top: 30px;
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 1.1rem;
  text-align: center;
  width: 100%;
}
.option-show input {
  display: none;
}
.option-show label div {
  cursor: pointer;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.option-show label div:hover {
  background-color: rgb(170, 247, 170);
}
.option-show div.item-custom {
  width: 100%;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
.option-show div.item-custom:hover {
  background-color: rgb(170, 247, 170);
}

.main-content {
  position: absolute;
  left: 250px;
  top: 0px;
  background-color: white;
  height: 100vh;
  width: calc(100% - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-container {
  width: 400px;
  height: 400px;
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  overflow: hidden;
}
.first-container-hide {
  display: none;
}
.first-container > div {
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: "Mali", cursive;
  font-size: 1.2rem;
  box-sizing: border-box;
}
.first-container > div > div:first-child {
  position: absolute;
  color: red;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 50px;
}
.first-container > div > div:first-child > div:first-child {
  width: 100%;
  background-color: rgb(64, 64, 255);
  color: white;
  height: 50px;
}
.first-container > div > div:nth-child(2):not(.step-3-content) {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  height: calc(100% - 50px);
  font-family: "Mali", cursive;
  font-size: 1.2rem;
}
.first-container > div > div:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  background-color: royalblue;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}
.first-container > div > div:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  background-color: royalblue;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}
.first-container .step-0-pre, .first-container .step-0-next {
  z-index: 10;
  background-color: white;
}
.first-container .step-0-pre {
  transform: translateX(-100%);
}
.first-container .step-0-next {
  transform: translateX(100%);
}
.first-container .step-1-hide {
  transform: translateX(-100%);
}
.first-container .step-2, .first-container .step-3, .first-container .step-4 {
  transform: translateX(100%);
}
.first-container .step-2-show, .first-container .step-3-show, .first-container .step-4-show {
  transform: translateX(0%);
}
.first-container .step-2-hide, .first-container .step-3-hide {
  transform: translateX(-100%);
}
.first-container .step-1-content input[type=file] {
  margin: 5px 0 0 30px;
  font-family: "Mali", cursive;
  font-size: 1.2rem;
}
.first-container .step-1-content input[type=file]::before {
  content: "Chọn tệp";
  position: absolute;
  margin: -2px 0 0 0;
  background-color: white;
  border: 1px solid black;
  padding: 2px 4px;
  cursor: pointer;
}
.first-container .step-2-content select {
  margin-top: 10px;
  font-family: "Mali", cursive;
  font-size: 1.2rem;
}
.first-container .step-3-content {
  display: grid;
  width: 100%;
  position: absolute;
  bottom: 70px;
  text-align: center;
  height: calc(100% - 180px);
  font-family: "Mali", cursive;
  font-size: 1.2rem;
  row-gap: 10px;
  justify-content: center;
  grid-template-columns: 160px 180px;
  grid-template-rows: repeat(3, 1fr);
}
.first-container .step-3-content label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-container .step-3-content select {
  text-align: center;
  font-family: "Mali", cursive;
  font-size: 1rem;
}
.first-container .step-4-content img {
  size: 50%;
  height: 50%;
}
.first-container .step-4-content .progress-bar {
  box-sizing: border-box;
  margin-top: 10px;
  position: relative;
  width: 80%;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
}
.first-container .step-4-content .progress-bar div {
  position: absolute;
  width: 0%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  background-color: rgb(64, 64, 255);
  -webkit-animation-name: progressbar;
          animation-name: progressbar;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.first-container .step-4-next-notsl {
  cursor: not-allowed !important;
  opacity: 0.5;
}

@-webkit-keyframes progressbar {
  95% {
    width: 95%;
    border-radius: 20px 0 0 20px;
  }
  100% {
    width: 100%;
    border-radius: 20px;
  }
}

@keyframes progressbar {
  95% {
    width: 95%;
    border-radius: 20px 0 0 20px;
  }
  100% {
    width: 100%;
    border-radius: 20px;
  }
}
.second-container {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}
.second-container-hide {
  display: none;
}
.second-container .table-grid {
  overflow: hidden;
  position: absolute;
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.8fr repeat(6, 1fr);
  grid-template-rows: 1.3fr repeat(12, 1fr);
}
.second-container .table-grid .column-header, .second-container .table-grid .row-header {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mali", cursive;
  font-size: 1.2rem;
  background-color: rgb(223, 223, 223);
}
.second-container .table-grid .column-header {
  border-left: 1px solid black;
}
.second-container .table-grid .row-header {
  border-top: 1px solid black;
}
.second-container .table-grid .table-grid-data {
  grid-column: 2/8;
  grid-row: 2/14;
  box-sizing: border-box;
  border: 1px solid;
  border-right: 0px;
  background-image: repeating-linear-gradient(black 0 1px, transparent 1px 100%), repeating-linear-gradient(90deg, black 0 1px, transparent 1px 100%);
  background-size: 16.6666666667% 8.3333333333%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.second-container .container-list-key {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
}
.second-container .container-list-key .set-size {
  position: absolute;
  cursor: col-resize;
  width: 10px;
  box-sizing: border-box;
  border-left: 1px solid rgb(71, 71, 71);
  border-right: 1px solid rgb(71, 71, 71);
  height: 100%;
  background-color: transparent;
  left: 0;
  z-index: 10;
}
.second-container .container-list-key .list-key-class {
  position: relative;
  left: 20px;
  width: calc(52% - 20px);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.second-container .container-list-key .daytime {
  position: absolute;
  width: 8%;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.second-container .container-list-key .daytime div:not(:first-child), .second-container .container-list-key .list-key-class div:not(:first-child) {
  position: relative;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: lightblue;
  font-family: "Mali", cursive;
  font-size: 1.2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-container .container-list-key .daytime div:first-child, .second-container .container-list-key .list-key-class div:first-child {
  position: relative;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  line-height: 40px;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-family: "Mali", cursive;
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}
.second-container .container-list-key .daytime .hadadd, .second-container .container-list-key .list-key-class .hadadd {
  background-color: rgb(255, 60, 60) !important;
}
.second-container .container-list-key .daytime .hadadd-hide, .second-container .container-list-key .list-key-class .hadadd-hide {
  display: none !important;
}
.second-container .container-list-key #cotthu2 {
  left: 52%;
  width: calc(8% + 1px);
}
.second-container .container-list-key #cotthu3 {
  left: 60%;
}
.second-container .container-list-key #cotthu4 {
  left: 68%;
}
.second-container .container-list-key #cotthu5 {
  left: 76%;
}
.second-container .container-list-key #cotthu6 {
  left: 84%;
}
.second-container .container-list-key #cotthu7 {
  left: 92%;
}/*# sourceMappingURL=trang3.css.map */