@import '../nav.css';
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

.main-content{
    position: absolute;
    left: 250px;
    top: 0px;
    background-color: white;
    height: 100vh;
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-container{
    &-hide{
        display: none;
    }
    width: 400px;
    height: 400px;
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
    > div{
        width: 100%;
        height: 100%;
        position: absolute;
        font-family: "Mali", cursive;
        font-size: 1.2rem;
        box-sizing: border-box;
        >div:first-child{
            position: absolute;
            color: red;
            font-size: 2rem;
            text-align: center;
            width: 100%;
            height: 100px;
            line-height: 50px;
            >div:first-child{
                width: 100%;
                background-color: rgb(64, 64, 255);
                color: white;
                height: 50px;
            }
        }
        >div:nth-child(2):not(.step-3-content){
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            bottom: 0;
            height: calc(100% - 50px);
            font-family: "Mali", cursive;
            font-size: 1.2rem;
        }

        >div:nth-child(3){
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 10px;
            background-color: royalblue;
            color: white;
            padding: 10px 20px;
            cursor: pointer;
        }

        >div:last-child{
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 10px;
            background-color: royalblue;
            color: white;
            padding: 10px 20px;
            cursor: pointer;
        }
    }
    //set up
    .step-0-pre, .step-0-next{
        z-index: 10;
        background-color: white;
    }
    .step-0-pre{
        transform: translateX(-100%);
    }
    .step-0-next{
        transform: translateX(100%);
    }
    .step-1-hide{
        transform: translateX(-100%);
    }
    .step-2,.step-3,.step-4{
        transform: translateX(100%);
    }
    .step-2-show,.step-3-show,.step-4-show{
        transform: translateX(0%);
    }
    .step-2-hide,.step-3-hide{
        transform: translateX(-100%);
    }

    .step-1-content{
        input[type="file"]{
            margin: 5px 0 0 30px;
            font-family: "Mali", cursive;
            font-size: 1.2rem;
        }
        input[type="file"]::before{
            content: 'Chọn tệp';
            position: absolute;
            margin: -2px 0 0 0;
            background-color: white;
            border: 1px solid black;
            padding: 2px 4px;
            cursor: pointer;
        }
    }
    .step-2-content{
        select {
            margin-top: 10px;
            font-family: "Mali", cursive;
            font-size: 1.2rem;
        }
    }

    .step-3-content{
        display: grid;
        width: 100%;
        position: absolute;
        bottom: 70px;
        text-align: center;
        height: calc(100% - 180px);
        font-family: "Mali", cursive;
        font-size: 1.2rem;
        row-gap: 10px;
        justify-content: center;
        grid-template-columns: 160px 180px;
        grid-template-rows: repeat(3,1fr);
        label{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        select{
            text-align: center;
            font-family: "Mali", cursive;
            font-size: 1rem;
        }
    }
}

.second-container{
    position: relative;
    overflow-x: hidden;
    &-hide{
        display: none;
    }
    width: 100%;
    min-height: 100%;
    .table-grid{
        overflow: hidden;
        position: absolute;
        width: 60%;
        height: 100%;
        display: grid;
        grid-template-columns: 0.8fr repeat(6,1fr);
        grid-template-rows: 1.3fr repeat(12,1fr);
        .column-header,.row-header{
            color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Mali", cursive;
            font-size: 1.2rem;
            background-color: rgb(223, 223, 223);
        }
        .column-header{border-left: 1px solid black;}
        .row-header{border-top: 1px solid black;}
        .table-grid-data{
            grid-column: 2 / 8;
            grid-row: 2 / 14;
            box-sizing: border-box;
            border: 1px solid;
            border-right: 0px;
        }
    }
    .container-list-key{
        position: absolute;
        right: 0;
        width: 40%;
        height: 100%;
        .set-size{
            position: absolute;
            cursor: col-resize;
            width: 10px;
            box-sizing: border-box;
            border-left: 1px solid rgb(71, 71, 71);
            border-right: 1px solid rgb(71, 71, 71);
            height: 100%;
            background-color: transparent;
            left: 0;
            z-index: 10;
        }
        
        .list-key-class{
            position: relative;
            left: 20px;
            width: calc(52% - 20px);
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .daytime{
            position: absolute;
            width: 8%;
            top: 0;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            
        }
        .daytime, .list-key-class{
            div:not(:first-child){
                position: relative;
                box-sizing: border-box;
                height: 50px;
                width: 100%;
                border-left: 1px solid black;
                border-bottom: 1px solid black;
                background-color: lightblue;
                font-family: "Mali", cursive;
                font-size: 1.2rem;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            div:first-child{
                position: relative;
                box-sizing: border-box;
                height: 40px;
                width: 100%;
                line-height: 40px;
                border-bottom: 1px solid black;
                background-color: transparent;
                font-family: "Mali", cursive;
                font-size: 1.2rem;
                user-select: none;
                overflow: hidden;
            }
        }
        #cotthu2{left: 52%;width: calc(8% + 1px);}
        #cotthu3{left: 60%;}
        #cotthu4{left: 68%;}
        #cotthu5{left: 76%;}
        #cotthu6{left: 84%;}
        #cotthu7{left: 92%;}
    }
    
}