@import '../nav.scss';
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
.main-content{
    position: absolute;
    left: 250px;
    top: 0px;
    background-color: whitesmoke;
    height: 100vh;
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    // align-items: center;
    font-size: 50px;
}


.address-source{
    width: 70%;
    position: relative;
    input[type="radio"]{
        display: none;
    }
    label.source-relative{
        width: 50%;
        left: 0;
        position: absolute;
    }
    label.source-absolute{
        width: 50%;
        position: absolute;
        right: 0;
    }
}










.button-check{
    cursor: pointer;
    background-color: lightgreen;
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    height: 80px;
    line-height: 80px;    
    bottom: 200px;
    right: 80px;
    padding: 0 15px;
    &:hover{
        background-color: rgb(248, 106, 215);
        &::before{
            background-color: rgb(248, 106, 215);
        }
        &::after{
            border-left: 40px solid rgb(248, 106, 215);
        }
    }
    &::before{
        content: "";
        position: absolute;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 50%, 0 0);
        height: 80px;
        width: 40px;
        background-color: lightgreen;
        left: 0;
        margin-left: -39px;
    }
    &::after{
        content: "";
        position: absolute;
        right: 0;
        border-left: 40px solid lightgreen;
        border-top: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 40px solid transparent;
        margin-right: -80px;
    }
}

.tag-a-next{
    color: #000;
    div{
        bottom: 40px;
    }
}