@import '../nav.css';
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
.main-content {
  position: absolute;
  left: 250px;
  top: 0px;
  height: 100vh;
  width: calc(100% - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-file {
  position: absolute;
  border: 1px dashed black;
  height: 400px;
  width: 400px;
  font-size: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pacifico", cursive;
  z-index: 10;
}
.get-file-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-file-title-hide {
  display: none;
}
.get-file-title input {
  display: none;
}
.get-file-title span {
  font-size: 20px;
  padding: 5px;
}
.get-file-title label {
  padding-top: 5px;
  font-size: 20px;
  -webkit-text-decoration: underline blue;
          text-decoration: underline blue;
  color: blue;
}
.get-file .loading {
  z-index: 100;
  position: absolute;
  width: 70px;
  height: 70px;
}
.get-file .loading-hide {
  opacity: 0;
}
.get-file .loading div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: rotate(calc(var(--value) * 45deg));
}
.get-file .loading div::before {
  content: "";
  width: 20%;
  height: 20%;
  position: absolute;
  background-color: red;
  z-index: 20;
  border-radius: 50%;
  filter: hue-rotate(calc(var(--value) * 45deg));
  -webkit-animation-name: cirloading;
          animation-name: cirloading;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: calc(var(--value) * 0.125s);
          animation-delay: calc(var(--value) * 0.125s);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.get-file .file-json {
  position: absolute;
}
.get-file .file-json-hide {
  display: none;
}
.get-file .file-json-icon {
  box-sizing: border-box;
  position: relative;
  width: 150px;
  height: 200px;
  background-color: whitesmoke;
  border: 1px solid black;
}
.get-file .file-json-icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
}
.get-file .file-json-icon :first-child {
  position: absolute;
  font-size: 90px;
  color: rgb(174, 177, 13);
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 10px;
  line-height: 200px;
  width: 150px;
  text-align: center;
}
.get-file .file-json-icon :nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 39px;
  background-color: red;
  box-sizing: border-box;
  transform: rotate(45deg);
  margin: -19px -19px 0 0;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 5;
}
.get-file .file-json-icon .button-delete-files {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: gray;
  color: white;
  border-radius: 50%;
  transform: rotate(45deg);
  right: 0;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  z-index: 10;
  margin: -20px -20px 0 0;
  cursor: pointer;
}
.get-file .file-json-name {
  position: relative;
  font-size: 30px;
  text-align: center;
}
.get-file .button-read {
  position: absolute;
  width: 100px;
  height: 60px;
  right: 0;
  margin-right: -101px;
  background-color: lightgreen;
  color: black;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
.get-file .button-read::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 100px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  right: 0;
  margin: -20px -29px 0 0;
  background-color: lightgreen;
}
.get-file .button-read:hover {
  background-color: rgb(207, 255, 207);
}
.get-file .button-read:hover::after {
  background-color: rgb(207, 255, 207);
}

@-webkit-keyframes cirloading {
  to {
    transform: scale(0);
  }
}

@keyframes cirloading {
  to {
    transform: scale(0);
  }
}
.button-check {
  cursor: pointer;
  background-color: lightgreen;
  font-family: "Patrick Hand", cursive;
  position: absolute;
  height: 80px;
  line-height: 80px;
  bottom: 200px;
  right: 80px;
  padding: 0 15px;
}
.button-check:hover {
  background-color: rgb(248, 106, 215);
}
.button-check:hover::before {
  background-color: rgb(248, 106, 215);
}
.button-check:hover::after {
  border-left: 40px solid rgb(248, 106, 215);
}
.button-check::before {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 50%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 50%, 0 0);
  height: 80px;
  width: 40px;
  background-color: lightgreen;
  left: 0;
  margin-left: -39px;
}
.button-check::after {
  content: "";
  position: absolute;
  right: 0;
  border-left: 40px solid lightgreen;
  border-top: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid transparent;
  margin-right: -80px;
}

.tag-a-next {
  color: #000;
}
.tag-a-next div {
  bottom: 40px;
}

.choose-class {
  width: 90%;
}
.choose-class .table-data {
  width: 100%;
}
.choose-class .table-data table {
  font-size: 20px;
  width: 100%;
  border-spacing: 0px;
  text-align: center;
  border: 1px solid black;
}
.choose-class .table-data table thead {
  font-family: "Cabin", sans-serif;
  background-color: lightblue;
  color: red;
}
.choose-class .table-data table thead tr {
  height: 100px;
}
.choose-class .table-data table thead tr th {
  border: 1px solid black;
  box-sizing: border-box;
}
.choose-class .table-data table tbody {
  font-family: "Vollkorn", serif;
}
.choose-class .table-data table tbody tr {
  height: 100px;
  font-size: 18px;
  height: 90px;
}
.choose-class .table-data table tbody tr td {
  border: 1px solid black;
  box-sizing: border-box;
}/*# sourceMappingURL=trang2.css.map */