@import '../nav.css';
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@mixin  circle($size : 50px , $bgcolor : transparent)
{
    width: $size;
    height: $size;
    background-color: $bgcolor;
    border-radius: 50%;
}
@mixin tableformat {
    font-size: 20px;
    width: 100%;
    border-spacing: 0px;
    text-align: center;
    border: 1px solid black;
    thead{
        font-family: 'Cabin', sans-serif;
        background-color: lightblue;
        color: red;
        tr{
            height: 100px;
            th{
                border: 1px solid black;
                box-sizing: border-box;
            }
        }
    }
    tbody{
        font-family: 'Pangolin', cursive;
        tr{
            &:hover{
                background-color: rgb(163, 255, 163);
            }
            height: 100px;
            font-size: 18px;
            height: 90px;
            td{
                cursor: pointer;
                border: 1px solid black;
                box-sizing: border-box;
            }
        }
    }
}

.main-content{
    position: absolute;
    left: 250px;
    top: 0px;
    height: 100vh;
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.get-file{
    position: absolute;
    border: 1px dashed black;
    height: 400px;
    width: 400px;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    z-index: 0;

    &-title{
        &-hide{
            display: none;
        }
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            display: none;
        }
        span{
            font-size: 20px;
            padding: 5px;
        }
        label{
            padding-top: 5px;
            font-size: 20px;
            text-decoration: underline blue;
            color: blue;
        }
    }

    .loading{
        z-index: 100;
        &-hide{
            opacity: 0;
        }
        position: absolute;
        width: 70px;
        height: 70px;
        div{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            transform: rotate(calc(var(--value)*45deg));
            &::before{
                content: "";
                width: 20%;
                height: 20%;
                position: absolute;
                background-color: red;
                z-index: 20;
                border-radius: 50%;
                filter: hue-rotate(calc(var(--value)*45deg));
                animation-name: cirloading; //viet tat dc
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-delay: calc(var(--value)*0.125s);
                animation-timing-function: linear;
            }
        }
    }

    .file-json{
        position: absolute;
        &-hide{
            display: none;
        }
        &-icon{
            box-sizing: border-box;
            position: relative;
            width: 150px;
            height: 200px;
            background-color: whitesmoke;
            border: 1px solid black;
            &::after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                height: 30px;
                border: 1px solid black;
                border-bottom-left-radius: 10px;
                box-sizing: border-box;
            }

            :first-child{
                position: absolute;
                font-size: 90px;
                color: rgb(174, 177, 13);
                font-family: Arial, Helvetica, sans-serif;
                word-spacing: 10px;
                line-height: 200px;
                width: 150px;
                text-align: center;
            }

            :nth-child(2){
                position: absolute;
                top: 0;
                right: 0;
                width: 39px;
                height: 39px;
                background-color: red;
                box-sizing: border-box;
                transform: rotate(45deg);
                margin: -19px -19px 0 0;
                border-bottom: 1px solid black;
                background-color: white;
                z-index: 5;
            }
            .button-delete-files{
                font-family: Arial, Helvetica, sans-serif;
                position: absolute;
                width: 25px;
                height: 25px;
                background-color: gray;
                color: white;
                border-radius: 50%;
                transform: rotate(45deg);
                right: 0;
                font-size: 25px;
                line-height: 25px;
                text-align: center;
                z-index: 10;
                margin: -20px -20px 0 0;
                cursor: pointer;
            }
        }

        &-name{
            position: relative;
            font-size: 30px;
            text-align: center;            
        }
    }

    .button-read{
        position: absolute;
        width: 100px;
        height: 60px;
        right: 0;
        margin-right: -101px;
        background-color: lightgreen;
        color: black;
        font-size: 30px;
        text-align: center;
        cursor: pointer;
        &::after{
            position: absolute;
            content: "";
            width: 30px;
            height: 100px;
            clip-path: polygon(0 0,100% 50%,0 100%);
            right: 0;
            margin: -20px -29px 0 0;
            background-color: lightgreen;
        }

        &:hover{
            background-color: rgb(207, 255, 207);
            &::after{
                background-color: rgb(207, 255, 207);
            }
        }
    }

}

@keyframes cirloading {
    to{
        transform: scale(0);
    }
}

.button-check{
    cursor: pointer;
    background-color: lightgreen;
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    height: 80px;
    line-height: 80px;    
    bottom: 200px;
    right: 80px;
    padding: 0 15px;
    &:hover{
        background-color: rgb(248, 106, 215);
        &::before{
            background-color: rgb(248, 106, 215);
        }
        &::after{
            border-left: 40px solid rgb(248, 106, 215);
        }
    }
    &::before{
        content: "";
        position: absolute;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 50%, 0 0);
        height: 80px;
        width: 40px;
        background-color: lightgreen;
        left: 0;
        margin-left: -39px;
    }
    &::after{
        content: "";
        position: absolute;
        right: 0;
        border-left: 40px solid lightgreen;
        border-top: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 40px solid transparent;
        margin-right: -80px;
    }
}

.tag-a-next{
    color: #000;
    div{
        bottom: 40px;
    }
}

.choose-class{
    width: 90%;
    .table-data{
        width: 100%;
        table{
            @include tableformat;
        }
        
    }
}

.button-listclass{
    @include circle(60px,whitesmoke);
    position: fixed;
    top: 50%;
    right: 500px;
    transform: translate(50%,-50%);
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid black;
    transition: 0.2s linear;
    z-index: 99;
    i{
        font-size: 30px;
        line-height: 60px;
        margin-left: 10px;
    }
}

.listclass{
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 500px;
    transition: 0.2s linear;
    background-color: white;
    right: 0;
    box-sizing: border-box;
    border-left: 1px solid black;
}

.listclass-hide{
    width: 0px;
    opacity: 0;
    + .button-listclass{
        right: 0;
        i{
            transform: rotate(180deg);
        }
    }
    ~ .blur-content{
        display: none;
    }
}

.blur-content{
    position: fixed;
    z-index: 2;
    background-color: gray;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}


.listclass{
   overflow-x: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   user-select: none;
   &-head{
        font-family: 'Patrick Hand', cursive;
        width: 100%;
        text-align: center;
        &-title{
            color: red;
            text-transform: uppercase;
            font-size: 30px;
        }
        &-note{
            padding: 5px 10px;
            font-size: 27px;
            span:first-child{
                color: blue;
                text-decoration: underline blue;
                text-underline-offset: 3px;
                margin-right: 10px;
            }
            span:last-child{
                position: relative;
                display: inline-block;
                @include circle(20px,red);
                &::before{
                    content: "-";
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    margin-top: -10px;
                    margin-left: -10px;
                    color: white;
                }
            }
        }
        &-amount{
            font-size: 20px;
            padding-bottom: 10px;
            span{
                color: red;
            }
        }
   }
   .listclass-table{
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    table{
        @include tableformat;
        thead tr{height: 50px;}
        tbody tr{height: 60px;}
        tr td div{
            position: relative;
            margin: 0 10px;
            @include circle(20px,red);
            cursor: help;
            &::before{
                content: "-";
                position: absolute;
                margin: 0 -10px;
                @include circle(20px);
                text-align: center;
                color: white;
            }
        }
    }
   }
}
