@import '../nav.css';
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");
.main-content {
  position: absolute;
  left: 250px;
  top: 0px;
  height: 100vh;
  width: calc(100% - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-file {
  position: absolute;
  border: 1px dashed black;
  height: 400px;
  width: 400px;
  font-size: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pacifico", cursive;
  z-index: 0;
}
.get-file-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-file-title-hide {
  display: none;
}
.get-file-title input {
  display: none;
}
.get-file-title span {
  font-size: 20px;
  padding: 5px;
}
.get-file-title label {
  padding-top: 5px;
  font-size: 20px;
  -webkit-text-decoration: underline blue;
          text-decoration: underline blue;
  color: blue;
}
.get-file .loading {
  z-index: 100;
  position: absolute;
  width: 70px;
  height: 70px;
}
.get-file .loading-hide {
  opacity: 0;
}
.get-file .loading div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: rotate(calc(var(--value) * 45deg));
}
.get-file .loading div::before {
  content: "";
  width: 20%;
  height: 20%;
  position: absolute;
  background-color: red;
  z-index: 20;
  border-radius: 50%;
  filter: hue-rotate(calc(var(--value) * 45deg));
  -webkit-animation-name: cirloading;
          animation-name: cirloading;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: calc(var(--value) * 0.125s);
          animation-delay: calc(var(--value) * 0.125s);
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.get-file .file-json {
  position: absolute;
}
.get-file .file-json-hide {
  display: none;
}
.get-file .file-json-icon {
  box-sizing: border-box;
  position: relative;
  width: 150px;
  height: 200px;
  background-color: whitesmoke;
  border: 1px solid black;
}
.get-file .file-json-icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
}
.get-file .file-json-icon :first-child {
  position: absolute;
  font-size: 90px;
  color: rgb(174, 177, 13);
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 10px;
  line-height: 200px;
  width: 150px;
  text-align: center;
}
.get-file .file-json-icon :nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 39px;
  background-color: red;
  box-sizing: border-box;
  transform: rotate(45deg);
  margin: -19px -19px 0 0;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 5;
}
.get-file .file-json-icon .button-delete-files {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: gray;
  color: white;
  border-radius: 50%;
  transform: rotate(45deg);
  right: 0;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  z-index: 10;
  margin: -20px -20px 0 0;
  cursor: pointer;
}
.get-file .file-json-name {
  position: relative;
  font-size: 30px;
  text-align: center;
}
.get-file .button-read {
  position: absolute;
  width: 100px;
  height: 60px;
  right: 0;
  margin-right: -101px;
  background-color: lightgreen;
  color: black;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
.get-file .button-read::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 100px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  right: 0;
  margin: -20px -29px 0 0;
  background-color: lightgreen;
}
.get-file .button-read:hover {
  background-color: rgb(207, 255, 207);
}
.get-file .button-read:hover::after {
  background-color: rgb(207, 255, 207);
}

@-webkit-keyframes cirloading {
  to {
    transform: scale(0);
  }
}

@keyframes cirloading {
  to {
    transform: scale(0);
  }
}
.button-check {
  cursor: pointer;
  background-color: lightgreen;
  font-family: "Patrick Hand", cursive;
  position: absolute;
  height: 80px;
  line-height: 80px;
  bottom: 200px;
  right: 80px;
  padding: 0 15px;
}
.button-check:hover {
  background-color: rgb(248, 106, 215);
}
.button-check:hover::before {
  background-color: rgb(248, 106, 215);
}
.button-check:hover::after {
  border-left: 40px solid rgb(248, 106, 215);
}
.button-check::before {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 50%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 50%, 0 0);
  height: 80px;
  width: 40px;
  background-color: lightgreen;
  left: 0;
  margin-left: -39px;
}
.button-check::after {
  content: "";
  position: absolute;
  right: 0;
  border-left: 40px solid lightgreen;
  border-top: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid transparent;
  margin-right: -80px;
}

.tag-a-next {
  color: #000;
}
.tag-a-next div {
  bottom: 40px;
}

.choose-class {
  position: relative;
  margin-top: 10px;
  width: 90%;
  display: none;
}
.choose-class .key-search {
  position: relative;
  border: 1px solid black;
  border-bottom: none;
  height: 50px;
  align-items: center;
  padding: 10px;
  font-family: "Mali", cursive;
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.choose-class .key-search label {
  font-size: 22px;
  margin-top: 3px;
}
.choose-class .key-search div.container-text {
  width: 40%;
  position: relative;
}
.choose-class .key-search div.container-text input[type=text] {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Mali", cursive;
  font-size: 20px;
  box-sizing: border-box;
  padding-left: 10px;
}
.choose-class .key-search div.container-text input[type=text]::-moz-placeholder {
  color: gray;
}
.choose-class .key-search div.container-text input[type=text]:-ms-input-placeholder {
  color: gray;
}
.choose-class .key-search div.container-text input[type=text]::placeholder {
  color: gray;
}
.choose-class .key-search div.container-text div.button-clear-text {
  display: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  right: 0;
  top: 50%;
  margin-right: 5px;
  transform: translateY(-50%) rotate(45deg);
  opacity: 0.6;
  position: absolute;
}
.choose-class .key-search select {
  font-family: "Mali", cursive;
  width: 150px;
  font-size: 20px;
}
.choose-class .key-search div.button-search-text {
  background-color: rgb(41, 234, 41);
  line-height: 30px;
  width: 70px;
  text-align: center;
  cursor: pointer;
  box-shadow: 3px 3px 5px #aaaaaa;
}
.choose-class .key-search div.button-show-detail {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  line-height: 30px;
  text-align: center;
  transition: 0.1s linear;
}
.choose-class .key-search div.button-show-detail-rotate {
  transform: rotate(180deg);
}
.choose-class .key-search div.button-show-detail:hover {
  background-color: #aaaaaa;
}
.choose-class .key-search div.button-show-detail i {
  font: 20px;
  color: black;
}
.choose-class .show-detail {
  position: relative;
  transition: 0.2s linear;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 50px;
  align-items: center;
  font-family: "Mali", cursive;
  font-size: 20px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.choose-class .show-detail .choose-class-number span {
  color: red;
}
.choose-class .show-detail .bt-add-all-class {
  box-sizing: border-box;
  padding: 5px;
  background-color: rgb(41, 234, 41);
  text-align: center;
  cursor: pointer;
  box-shadow: 3px 3px 5px #aaaaaa;
  cursor: pointer;
}
.choose-class .hide-detail {
  border-width: 0px;
  height: 0;
  font-size: 0;
}
.choose-class .hide-detail .bt-add-all-class {
  padding: 0;
}
.choose-class .table-data {
  width: 100%;
}
.choose-class .table-data table {
  font-size: 20px;
  width: 100%;
  border-spacing: 0px;
  text-align: center;
  border: 1px solid black;
}
.choose-class .table-data table thead {
  font-family: "Cabin", sans-serif;
  background-color: lightblue;
  color: red;
}
.choose-class .table-data table thead tr {
  height: 100px;
}
.choose-class .table-data table thead tr th {
  border: 1px solid black;
  box-sizing: border-box;
}
.choose-class .table-data table tbody {
  font-family: "Pangolin", cursive;
}
.choose-class .table-data table tbody tr {
  height: 100px;
  font-size: 18px;
  height: 90px;
}
.choose-class .table-data table tbody tr:hover {
  background-color: rgb(163, 255, 163);
}
.choose-class .table-data table tbody tr td {
  cursor: pointer;
  border: 1px solid black;
  box-sizing: border-box;
}

.button-listclass {
  width: 60px;
  height: 60px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  right: 500px;
  transform: translate(50%, -50%);
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid black;
  transition: 0.2s linear;
  z-index: 99;
}
.button-listclass i {
  font-size: 30px;
  line-height: 60px;
  margin-left: 10px;
}

.listclass {
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 500px;
  transition: 0.2s linear;
  background-color: white;
  right: 0;
  box-sizing: border-box;
  border-left: 1px solid black;
}

.listclass-hide {
  width: 0px;
  opacity: 0;
}
.listclass-hide + .button-listclass {
  right: 0;
}
.listclass-hide + .button-listclass i {
  transform: rotate(180deg);
}
.listclass-hide ~ .blur-content {
  display: none;
}

.blur-content {
  position: fixed;
  z-index: 2;
  background-color: gray;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
}

.listclass {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.listclass-head {
  font-family: "Patrick Hand", cursive;
  width: 100%;
  text-align: center;
}
.listclass-head-title {
  color: red;
  text-transform: uppercase;
  font-size: 30px;
}
.listclass-head-note {
  padding: 5px 10px;
  font-size: 27px;
}
.listclass-head-note span:first-child {
  color: blue;
  -webkit-text-decoration: underline blue;
          text-decoration: underline blue;
  text-underline-offset: 3px;
  margin-right: 10px;
}
.listclass-head-note span:last-child {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
.listclass-head-note span:last-child::before {
  content: "-";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: -10px;
  margin-left: -10px;
  color: white;
}
.listclass-head-amount {
  font-size: 20px;
  padding-bottom: 10px;
}
.listclass-head-amount span {
  color: red;
}
.listclass .listclass-table {
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
}
.listclass .listclass-table table {
  font-size: 20px;
  width: 100%;
  border-spacing: 0px;
  text-align: center;
  border: 1px solid black;
}
.listclass .listclass-table table thead {
  font-family: "Cabin", sans-serif;
  background-color: lightblue;
  color: red;
}
.listclass .listclass-table table thead tr {
  height: 100px;
}
.listclass .listclass-table table thead tr th {
  border: 1px solid black;
  box-sizing: border-box;
}
.listclass .listclass-table table tbody {
  font-family: "Pangolin", cursive;
}
.listclass .listclass-table table tbody tr {
  height: 100px;
  font-size: 18px;
  height: 90px;
}
.listclass .listclass-table table tbody tr:hover {
  background-color: rgb(163, 255, 163);
}
.listclass .listclass-table table tbody tr td {
  cursor: pointer;
  border: 1px solid black;
  box-sizing: border-box;
}
.listclass .listclass-table table thead tr {
  height: 50px;
}
.listclass .listclass-table table tbody tr {
  height: 60px;
}
.listclass .listclass-table table tr td div {
  position: relative;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  cursor: help;
}
.listclass .listclass-table table tr td div::before {
  content: "-";
  position: absolute;
  margin: 0 -10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.message {
  border: 1px solid black;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 35px;
  width: 200px;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: rgb(213, 213, 213);
  -webkit-animation: show-mess 2s 1 linear forwards;
          animation: show-mess 2s 1 linear forwards;
}
.message-icon {
  width: 50px;
  height: 50px;
  background-color: rgb(99, 99, 255);
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  color: black;
}

@-webkit-keyframes show-mess {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-mess {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=trang2.css.map */